footer.footer
    .container
        a.logo(href="#") 
            img(src='img/logo-footer.svg' alt="")
        a(href="#" class="policy") Политика конфиденциальности
        span Цены на сайте не являются публичной офертой
        a.anchor(href="#")
    
