header.header#header
    .container
        .header-box
            a.logo
                img(src='img/logo.svg' alt="")
            .header-contacts
                a.phone(href="tel:+71111111111") +7 111 111 11 11
                a.btn-yellow(href="javascript: void(0);" data-toggle="modal" data-target="#modal") Перезвонить мне
  
