doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title CLEANCHAIR | Химчистка мебели
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/vendors.min.css")
            link(rel="stylesheet" href="css/style.css")
    body
        block header
            include header
        .top-wrap(style="background-image:url(img/top-wrap-bg.jpg)")
            .dots
            .container
                .title Выведем пятна и удалим запахи<br> с вашей мебели <span>за 60 минут</span>
                .desc С помощью профессиональной<br>  гипоаллергенной косметики
                a.btn-yellow(href="javascript: void(0);" data-toggle="modal" data-target="#modal") Вызвать специалиста
            .sofa-text-mob
                .sofa-text-mob__item Избавим от микробов
                .sofa-text-mob__item Удалим грязь и шерсть
                .sofa-text-mob__item Выведем пятна
            .sofa
                .cat
                .sofa-text.sofa-text-1 <i></i> <span>Избавим от микробов</span> <b></b>
                .sofa-text.sofa-text-2 <i></i> <span>Удалим грязь и шерсть</span> <b></b>
                .sofa-text.sofa-text-3 <i></i> <span>Выведем пятна</span> <b></b>
        
        .why-our
            .container
                .title Почему <span>1200 домохозяек</span> выбрали CLEANCHAIR? 
                .why-items
                    .why-item
                        .why-item--img <img src="img/why-1.png" alt="" />
                        .why-item--title Очищаем 98% пятен!
                        .why-item--desc Ваша мебель будет похожа новую 
                    .why-item
                        .why-item--img <img src="img/why-2.png" alt="" />
                        .why-item--title Опытные мастера
                        .why-item--desc Сертифицированные мастера, выполнят чистку вашей мебели по высшему разряду
                    .why-item
                        .why-item--img <img src="img/why-3.png" alt="" />
                        .why-item--title Двойная гарантия
                        .why-item--desc 100% сохранность текстильной и кожаной обивки мягкой мебели  
                    .why-item
                        .why-item--img <img src="img/why-4.png" alt="" />
                        .why-item--title Бесплатный выезд
                        .why-item--desc Сохраните ваши деньги.<br> Мастер приедет к Вам по адресу бесплатно 
        .slider-wrap
            .container
                .dots
                .title Посмотрите на <span>результаты нашей работы</span>
                .slider-worls-box
                    .swiper-container.swiper-container-works
                        .swiper-wrapper.swiper-wrapper-works
                            .swiper-slide(style="background-image:url(img/sl-1.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-2.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-3.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-1.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-2.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-3.jpg)")
                    .swiper-button-prev.swiper-button-prev-works
                    .swiper-button-next.swiper-button-next-works
                    
                    .swiper-container.works-thumbs
                        .swiper-wrapper
                            .swiper-slide(style="background-image:url(img/sl-1.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-2.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-3.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-1.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-2.jpg)")
                            .swiper-slide(style="background-image:url(img/sl-3.jpg)")

        .price
            .price-bg(style="background-image:url(img/price-bg.jpg)")
            .container
                .title Приблизительные <span>цены на чистку</span>
                .desc Оставьте заявку и мы рассчитаем точную<br> стоимость чистки вашей мебели
                .price-bnts
                    a(href="javascript:void(0)" data-switch="price-1" class="btn-sofa active") <span>Мягкая мебель</span>
                    a(href="javascript:void(0)" data-switch="price-2" class="btn-kov") <span>Ковры</span>
                .price-box
                    .price-box-elem(style="background-image:url(img/sofa-elem.png)" id="price-1")
                        .price-box-elem--content
                            .price-table
                                .price-table-item
                                    span Кресло
                                    b от 600 руб
                                .price-table-item
                                    span Двухместный диван
                                    b от 1300 руб 
                                .price-table-item
                                    span Трехместный диван
                                    b от 1800 руб 
                                .price-table-item
                                    span Четырехместный диван
                                    b от 1800 руб 
                            a.btn-yellow(href="javascript: void(0);" data-toggle="modal" data-target="#modal") Вызвать специалиста

                    .price-box-elem(style="background-image:url(img/kov-elem.png); display:none;" id="price-2")
                        .price-box-elem--content
                            .price-table
                                .price-table-item
                                    span Маленький
                                    b от 300 руб
                                .price-table-item
                                    span Средний
                                    b от 600 руб 
                                .price-table-item
                                    span Большой
                                    b от 900 руб 
                            a.btn-yellow(href="javascript: void(0);" data-toggle="modal" data-target="#modal") Вызвать специалиста

        .sale
            .dots
            .sale-bg(style="background-image:url(img/sale-bg.jpg);")
                .man <img src="img/man.png" alt="" />
            .container
                .title <span>Скидки</span> постоянным клиентам
                .desc Дарим Вам скидку 10% на второй и последующие заказы
                form(action="/" method="POST" class="form-sale")
                    .title Оставьте заявку
                    .desc Мы перезвоним Вам и сообщим<br> точную стоимость чистки мебели
                    span <input type="text" placeholder="Ваше имя" />
                    span <input type="tel" placeholder="Телефон" />
                    <button type="submit" class="btn-yellow">Вызвать специалиста</button>
                    .agree Нажимая кнопку “Вызвать специалиста”, я даю<br> согласие на обработку персональных данных

        .steps
            .container
                .dots
                .row
                    .col-xl-4.col-lg-4.col-md-6
                        .step-item(data-aos="fade-up") <span>До вашей чистой мебели осталось<br> <b>5 простых шагов</b></span> 
                    .col-xl-4.col-lg-4.col-md-6
                        .step-item(data-aos="fade-up")
                            <i>1</i>
                            .step-item--img <img src="img/step-1.svg" alt="" />
                            .step-item--title Скидка 10% на второй<br> и последующие заказы
                    .col-xl-4.col-lg-4.col-md-6
                        .step-item(data-aos="fade-up")
                            <i>2</i>
                            .step-item--img <img src="img/step-2.svg" alt="" />
                            .step-item--title Назначаем удобное<br> для Вас время
                    .col-xl-4.col-lg-4.col-md-6
                        .step-item(data-aos="fade-up")
                            <i>3</i>
                            .step-item--img <img src="img/step-3.svg" alt="" />
                            .step-item--title Мастер приезжает, консультирует и приступает к работе
                    .col-xl-4.col-lg-4.col-md-6
                        .step-item(data-aos="fade-up")
                            <i>4</i>
                            .step-item--img <img src="img/step-4.svg" alt="" />
                            .step-item--title По завершении чистки производит сушку изделия ( при необходимости)
                    .col-xl-4.col-lg-4.col-md-6
                        .step-item(data-aos="fade-up")
                            <i>5</i>
                            .step-item--img <img src="img/step-5.svg" alt="" />
                            .step-item--title Вы принимаете работу и идете хвастаться подругам!

        .rewiews
            .container
                .dots
                .title Посмотрите, что говорят<br> <span>хозяйки о нашей работе</span>
                .rewiews-bg
                    .slider-reweiws-box(style="background-image:url(img/phone-slider.png);") 
                        .swiper-container.slider-reweiws
                            .swiper-wrapper
                                .swiper-slide(style="background-image:url(img/rew-1.jpg)")
                                .swiper-slide(style="background-image:url(img/rew-1.jpg)")
                                .swiper-slide(style="background-image:url(img/rew-1.jpg)")
                    .swiper-button-prev.swiper-button-prev-rewiews
                    .swiper-button-next.swiper-button-next-rewiews
                    .message-1.message(data-aos="zoom-in") Вы можете написать им! <img src="img/smile.png" alt="" />
                    .message-2.message(data-aos="zoom-in")  И убедиться в качестве нашей чистки! <img src="img/smile2.png" alt="" />

        .safe
            .container
                .title Чистим <span>безопасной<br> проверенной</span> косметикой
                .safe-box
                    .safe-box__left
                        <img src="img/safe-img.jpg" alt="" />
                    .safe-box__right
                        .title Ваши дети и домашние питомцы<br> будут в безопасности
                        .safe-text Используемые при чистке средства гипоаллергенны и имеют соответствующие сертификаты.
                        .safe-text После химчистки изделие промывается кондиционером, чтобы моющие средства в изделии не оставались
                        .safe-partners
                            <img src="img/brand-1.png" alt="" />
                            <img src="img/brand-2.png" alt="" />
                            <img src="img/brand-3.png" alt="" />
                            <img src="img/brand-4.png" alt="" />

        .info
            .info-bg
            .container  
                .dots
                .title Почему мы не рекомендуем <span>чистить<br> изделие самостоятельно?</span>
                .info-item
                    <img class="arr-left" src="img/arr-left.png" alt="" />
                    .info-item__img(style="background-image:url(img/info-sofa-1.png);")
                    .info-item__content
                        .title Грязь не только на поверхности
                        p Нужно понимать, что загрязнения бывают не только видимыми (на поверхности) но те которые проникают внутрь изделия. 
                        p Да, грязь растворится, пятна начинают исчезать, но на деле они проникают глубоко в наполнитель
                .info-item.info-item-reverse
                    <img class="arr-right" src="img/arr-right.png" alt="" />
                     .info-item__content
                        .title Появляются разводы
                        p После высыхания в 90% случаях появляются грязные разводы еще большего размера, чем были. 

                        p Только раньше это были просто следы грязи и пыли, то теперь к ним добавились высохшие остатки чудо-средства! 
                    .info-item__img(style="background-image:url(img/info-sofa-2.png);")

                .info-form
                    .info-form__left
                        <img src="img/info-form-img.jpg" alt="" />
                    .info-form__right
                        form(action="/" method="POST" class="form-info")
                            .title Лучше доверьте нам, мы сэкономим вам<br> время, силы и деньги 
                            .desc Оставьте заявку и мы перезвоним Вам<br> и сообщим точную стоимость чистки мебели
                            span <input type="text" placeholder="Ваше имя" />
                            span <input type="tel" placeholder="Телефон" />
                            <button type="submit" class="btn-yellow">Вызвать специалиста</button>
                            .agree Нажимая кнопку “Вызвать специалиста”, я даю<br> согласие на обработку персональных данных

        .instrument
            .instrument-bg(style="background-image:url(img/instrument-bg.jpg);")
            .container
                .title Используем только профессиональное<br> оборудование из <span>Италии, Германии и Франции</span>
                .instrument-items
                    <img src="img/instrument-1.png" alt="" />
                    <img src="img/instrument-2.png" alt="" />
                    <img src="img/instrument-3.png" alt="" />
                    <img src="img/instrument-4.png" alt="" />
                .devices
                    .devices-items
                        .devices-item
                            .devices-item__left
                                <img src="img/device-1.png" alt="" />
                            .devices-item__right
                                .title Моющий пылесос экстрактор<br> Santoemma Sabrina Maxi
                                p Это профессиональная ручная машина для уборки ковровых покрытий и мягкой мебели. 
                                p Оборудована мощной всасывающей турбиной, что позволяет собирать до 90% нанесенного раствора, сокращает время высыхания ковровых покрытий.
                        .devices-item
                            .devices-item__left
                                <img src="img/device-2.png" alt="" />
                            .devices-item__right
                                .title Фен для сушки покрытий<br> Truvox Hybrid Blower 3400
                                p Профессиональный фен-вентилятор,значительно сокращает время на высыхание коврового покрытия и мягкой мебели всех типов
                        .devices-item
                            .devices-item__left
                                <img src="img/device-3.png" alt="" />
                            .devices-item__right
                                .title Орбитальная двухщеточная<br> машина Twinc TH-3500
                                p Орбитальные движения щеток имитируют круговые движения руки оператора, интенсивно и в тоже время деликатно очищая любую поверхность

        .contacts
            .container
                .title Остались <span>вопросы?</span>
                .contacts-box
                    .contacts-box__left
                        .map#map
                    .contacts-box__right
                        form(action="/" method="POST" class="form-contacts")
                            .title Оставьте заявку
                            .desc Мы перезвоним Вам и сообщим<br> точную стоимость чистки мебели
                            span <input type="text" placeholder="Ваше имя" />
                            span <input type="tel" placeholder="Телефон" />
                            <button type="submit" class="btn-yellow">Вызвать специалиста</button>
                            .agree Нажимая кнопку “Вызвать специалиста”, я даю<br> согласие на обработку персональных данных
                            .call-us
                                b или позвоните нам
                                a(href="tel:+71111111111") +7  111 111 11 11

                         







        block footer
            include footer
        block scripts
            script(src='js/vendors.min.js')
            script(src='js/main.js')
