@import "../../local_modules/normalize.css/normalize";
@import "../utils/fonts.scss";
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #fff;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #242424;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 42px;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

.container {
    position: relative;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-yellow {
    background: linear-gradient(180deg, #FFC13C 0%, #FFB617 100%);
    border-radius: 31px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 0 14px 0;
}

@media screen and (min-width: 992px) {
    .btn-yellow:hover {
        background: linear-gradient(180deg, #FFB81F 0%, #F0A500 100%);
    }
    .anchor:hover {
        background-color: #A0B4BF;
    }
}

.title {
    span {
        font-family: 'PT Serif', sans-serif;
        color: #FFB617;
        font-size: 38px;
    }
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {}

.header {
    padding: 41px 0 0 0;
    margin-bottom: 85px;
    .btn-yellow {
        display: block;
        max-width: 216px;
        width: 100%;
        height: 45px;
        margin-left: 33px;
    }
}

.header-contacts {
    width: 55%;
    a.phone {
        font-weight: 900;
        font-size: 21px;
        line-height: 25px;
        color: #242424;
    }
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dots {
    position: absolute;
    width: 157px;
    height: 161px;
    background: url(../img/dots.svg) no-repeat center;
}

.top-wrap {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 508px;
    max-width: 1661px;
    padding: 112px 0 0 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 368px;
    z-index: 5;
    .title {
        text-align: left;
        font-weight: bold;
        font-size: 42px;
        line-height: 55px;
        color: #242424;
        margin-bottom: 11px;
        span {
            color: #FFB617;
            font-size: 44px;
        }
    }
    .desc {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        color: #242424;
        margin-bottom: 47px;
    }
    .btn-yellow {
        display: block;
        max-width: 254px;
        width: 100%;
        padding: 22px 0 21px 0;
    }
    .dots {
        top: -112px;
        left: -78px;
        z-index: -1;
    }
}

.sofa {
    position: absolute;
    top: 36px;
    right: -121px;
    max-width: 1235px;
    width: 100%;
    height: 825px;
    background: url(../img/sofa.png) no-repeat center;
    z-index: 15;
}

.cat {
    position: absolute;
    top: 118px;
    right: 200px;
    width: 300px;
    height: 115px;
    background: url(../img/cat.png) no-repeat center;
    z-index: 15;
}

.sofa-text {
    position: absolute;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
    span {
        opacity: 0;
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        -ms-transition: opacity .2s linear;
        -o-transition: opacity .2s linear;
    }
    b {
        opacity: 0;
        position: absolute;
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        -ms-transition: opacity .2s linear;
        -o-transition: opacity .2s linear;
    }
    i {
        opacity: 0;
        position: absolute;
        display: block;
        width: 31px;
        height: 31px;
        background: url(../img/dot.svg) no-repeat center;
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear;
        -moz-transition: opacity .2s linear;
        -ms-transition: opacity .2s linear;
        -o-transition: opacity .2s linear;
    }
}

.sofa-text-1 {
    position: absolute;
    top: 121px;
    left: 504px;
    i {
        bottom: -74px;
        left: -49px;
    }
    b {
        background: url(../img/line-1.png) no-repeat center;
        width: 204px;
        height: 53px;
        left: -34px;
        top: 25px;
        display: block;
    }
}

.sofa-text-2 {
    position: absolute;
    top: 334px;
    left: 174px;
    i {
        bottom: -119px;
        left: 211px;
    }
    b {
        background: url(../img/line-2.png) no-repeat center;
        width: 232px;
        height: 97px;
        left: -6px;
        top: 26px;
        display: block;
    }
}

.sofa-text-3 {
    position: absolute;
    top: 298px;
    left: 739px;
    i {
        bottom: -82px;
        left: 150px;
    }
    b {
        background: url(../img/line-3.png) no-repeat center;
        width: 171px;
        height: 61px;
        left: -4px;
        top: 25px;
        display: block;
    }
}

.why-our {
    margin-bottom: 205px;
    .title {
        margin-bottom: 81px;
    }
}

.why-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.why-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 237px;
    max-width: 266px;
}

.why-item--img {
    position: relative;
    width: 237px;
    height: 237px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    filter: drop-shadow(-1px 0px 20px #EEEEEE);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 34px;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }
}

.why-item--title {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #242424;
    margin-bottom: 15px;
}

.why-item--desc {
    font-weight: normal;
    font-size: 16px;
    line-height: 127.69%;
    text-align: center;
    color: #242424;
}

.slider-wrap {
    .title {
        margin-bottom: 92px;
    }
    .dots {
        top: 50px;
        left: 22px;
        z-index: -1;
    }
}

.swiper-container-works {
    position: relative;
    max-width: 919px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    .swiper-slide {
        min-height: 584px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.swiper-container-works::before {
    content: 'До';
    display: block;
    position: absolute;
    bottom: 30px;
    left: 33px;
    background: #EFBC4E;
    width: 100px;
    height: 47px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.swiper-container-works::after {
    content: 'После';
    display: block;
    position: absolute;
    bottom: 30px;
    right: 33px;
    background: #EFBC4E;
    width: 100px;
    height: 47px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.slider-worls-box {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    width: 61px;
    height: 60px;
    top: 34%;
    cursor: pointer;
    z-index: 5;
    outline: none;
}

.swiper-button-next {
    background: url(../img/next-sl.svg) no-repeat center;
    right: -1px;
}

.swiper-button-prev {
    background: url(../img/prev-sl.svg) no-repeat center;
    left: -1px;
}

.works-thumbs {
    max-width: 919px;
    width: 100%;
    margin: 0 auto;
    .swiper-slide {
        max-width: 285px;
        width: 100%;
        height: 148px;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.slider-wrap {
    margin-bottom: 213px;
}

.price {
    position: relative;
    z-index: 5;
    .title {
        margin-bottom: 19px;
    }
    .desc {
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
        text-align: center;
        color: #242424;
        margin-bottom: 87px;
    }
    .price-bg {
        max-width: 1657px;
        height: 428px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 143px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        z-index: -1;
    }
}

.price-bnts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: -1px 0px 20px #EEEEEE;
    border-radius: 32px;
    max-width: 582px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 47px;
    a {
        display: block;
        text-align: center;
        width: 50%;
        position: relative;
        border-radius: 39.5px;
        padding: 22px 0 21px 0;
        span {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #242424;
        }
    }
    a:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 39.5px;
        height: 100%;
        border: 5px solid transparent;
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
        -o-transition: all .1s linear;
    }
    a.active::after {
        border-color: #FFB617;
    }
    a:hover::after {
        border-color: #FFB617;
    }
}

.price-box {
    background: #FFFFFF;
    padding: 0 0 0 0;
    box-shadow: 1px 1px 29px #E1E1E1;
}

.btn-sofa {
    span {
        padding: 4px 0 3px 35px;
        height: 100%;
        background: url(../img/ico-meb.svg) no-repeat left center;
    }
}

.btn-kov {
    span {
        padding: 3px 0 3px 35px;
        height: 100%;
        background: url(../img/ico-kov.svg) no-repeat left center;
    }
}

.price-box-elem {
    position: relative;
    padding: 82px 67px 60px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.price-box-elem:last-child {
    background-position: left center;
    padding: 82px 67px 120px 0;
}

.price-table-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 6px;
    margin-bottom: 25px;
    span {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        color: #242424;
    }
    b {
        font-family: 'PT Serif', sans-serif;
        font-weight: bold;
        font-size: 21px;
        line-height: 28px;
        color: #FFB617;
    }
}

.price-box-elem--content {
    width: 46.5%;
}

.price-table {
    margin-bottom: 55px;
}

.price {
    margin-bottom: 215px;
    .btn-yellow {
        display: block;
        max-width: 278px;
        width: 100%;
        padding: 22px 0 21px 0;
    }
}

.sale {
    position: relative;
    z-index: 5;
    margin-bottom: 361px;
    .title {
        line-height: 50px;
        margin-bottom: 10px;
    }
    .desc {
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        color: #242424;
        margin-bottom: 85px;
    }
    .dots {
        left: 45px;
        top: 229px;
    }
    form {
        max-width: 607px;
        width: 100%;
        padding: 89px 112px 103px 112px;
        background: #FFFFFF;
        box-shadow: 5px 3px 21px #B7B7B7;
        .title {
            margin-bottom: 6px;
        }
        .desc {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #242424;
            margin-bottom: 45px;
        }
        span {
            display: block;
            max-width: 383px;
            width: 100%;
            margin-bottom: 15px;
        }
        input {
            display: block;
            width: 100%;
            background: #ECECEC;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #515151;
            opacity: 0.5;
            padding: 0 35px;
            border: none;
            border: 1px solid transparent;
            height: 53px;
            margin-bottom: 0;
            border-radius: 26.5px;
            -webkit-border-radius: 26.5px;
            -moz-border-radius: 26.5px;
            -ms-border-radius: 26.5px;
            -o-border-radius: 26.5px;
        }
        input:hover {
            border: 1px solid #FFBF33;
            background: #fff;
        }
        input:focus {
            border: 1px solid #FFBF33;
            background: #fff;
        }
        button {
            display: block;
            width: 100%;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
            padding: 16px 0 16px 0;
            background: linear-gradient(180deg, #FFC13C 0%, #FFB617 100%);
            border-radius: 31px;
            margin-top: 27px;
        }
        .agree {
            font-weight: normal;
            font-size: 12px;
            line-height: 112.9%;
            text-align: center;
            letter-spacing: 0.02em;
            color: #7A7A7A;
            margin-top: 16px;
        }
    }
}

.sale-bg {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1658px;
    width: 100%;
    left: 0;
    right: 0;
    top: 298px;
    margin: auto;
    height: 548px;
    z-index: -2;
}

.man {
    position: absolute;
    right: 58px;
    bottom: 0;
    z-index: -1;
}

.step-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 0 68px 0 68px;
    min-height: 315px;
    margin-bottom: 20px;
    overflow: hidden;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    filter: drop-shadow(5px 3px 33px #E0E0E0);
    i {
        position: absolute;
        left: -76px;
        font-style: normal;
        bottom: -117px;
        font-weight: bold;
        font-size: 419.87px;
        line-height: 1;
        color: rgba(216, 216, 216, 0.19);
    }
    span {
        font-weight: bold;
        font-size: 36px;
        line-height: 45px;
        color: #242424;
        b {
            font-family: 'PT Serif', sans-serif;
            color: #FFB617;
        }
    }
}

.steps .col-xl-4:first-child .step-item {
    padding: 0;
    filter: drop-shadow(0 0 0 #fff);
    -webkit-filter: drop-shadow(0 0 0 #fff);
}

.step-item--title {
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #242424;
    padding-top: 20px;
}

.step-item--title::before {
    content: '';
    display: block;
    position: absolute;
    width: 91.5px;
    height: 1px;
    top: 0;
    left: 50%;
    border-top: 1px solid #FFB617;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.step-item--img {
    margin-bottom: 18px;
}

.steps {
    margin-bottom: 199px;
    .dots {
        width: 112.21px;
        height: 125px;
        top: -65px;
        right: -32px;
        background-size: contain;
    }
}

.rewiews-box {
    position: relative;
}

.rewiews-bg {
    position: relative;
    width: 918px;
    height: 600px;
    top: 200px;
    left: 50%;
    background: #EAF3F8;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.slider-reweiws-box {
    max-width: 518px;
    width: 100%;
    height: 765px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
}

.rewiews {
    .dots {
        top: 232px;
        left: 31px;
        z-index: -1;
    }
}

.slider-reweiws {
    max-width: 276px;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 73px;
    right: 168px;
    background: #fff;
    z-index: -1;
    .swiper-slide {
        max-width: 276px;
        width: 100%;
    }
}

.rewiews-bg .swiper-button-prev-rewiews,
.rewiews-bg .swiper-button-next-rewiews {
    top: 269px;
}

.rewiews-bg .swiper-button-prev-rewiews {
    left: -108px;
}

.rewiews-bg .swiper-button-next-rewiews {
    right: -88px;
}

.message {
    position: absolute;
    padding: 55px 0 56px 0;
    background: #FFFFFF;
    box-shadow: 5px 3px 33px #E0E0E0;
    border-radius: 10px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #242424;
    img {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
    }
}

.message::after {
    content: '';
    display: block;
    position: absolute;
    right: -33px;
    bottom: 21px;
    width: 74px;
    height: 43px;
    background: url(../img/polygon.svg) no-repeat center;
    z-index: 0;
}

.message-1 {
    left: 28px;
    top: 43px;
    max-width: 367px;
    width: 100%;
}

.message-2 {
    left: -24px;
    bottom: 128px;
    max-width: 331px;
    width: 100%;
}

.rewiews {
    margin-bottom: 416px;
}

.safe {
    margin-bottom: 215px;
    .title {
        margin-bottom: 58px;
    }
}

.safe-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 44px 43px 44px;
    background: #FFFFFF;
    box-shadow: 5px 3px 33px #E0E0E0;
}

.safe-box__left {
    width: 47%;
}

.safe-box__right {
    width: 53%;
    .title {
        font-weight: 500;
        font-size: 21px;
        text-align: left;
        line-height: 27px;
        color: #242424;
        margin-bottom: 29px;
    }
}

.safe-text {
    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #242424;
    margin-bottom: 25px;
    padding: 0 0 0 0;
}

.safe-text::before {
    content: '';
    display: block;
    width: 19px;
    height: 16px;
    position: absolute;
    left: -31px;
    top: 3px;
    background: url(../img/galka.svg) no-repeat left center;
    background-size: cover;
}

.safe-partners {
    max-width: 464px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    padding: 13px 0 13px 0;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.info {
    position: relative;
    margin-bottom: 215px;
    .title {
        margin-bottom: 87px;
    }
    .dots {
        right: -58px;
        top: 119px;
    }
}

.info-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: #FFFFFF;
    box-shadow: 5px 3px 33px #E0E0E0;
    padding: 0 0 0 0;
    margin-bottom: 49px;
}

.info-item__img {
    width: 58%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-item__content {
    padding: 118px 65px 81px 0;
    width: 37%;
    .title {
        position: relative;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: left;
        color: #242424;
        margin-bottom: 17px;
    }
    .title::before {
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        background: url(../img/red-close.svg) no-repeat center;
        position: absolute;
        top: 4px;
        left: -29px;
    }
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #242424;
        margin-bottom: 18px;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.arr-left {
    position: absolute;
    top: -21px;
    left: 30.5%;
}

.info-item-reverse {
    .info-item__content {
        width: 42%;
        padding: 108px 0 91px 140px;
    }
    .info-item__img {
        width: 50%;
        background-size: contain;
        background-position: right bottom;
        background-repeat: no-repeat;
    }
}

.arr-right {
    position: absolute;
    top: -72px;
    left: 35%;
}

.info-form {
    margin: 62px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-form__left {
    max-width: 483px;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

form.form-info {
    max-width: 631px;
    width: 100%;
    flex-shrink: 0;
    padding: 107px 108px 83px 108px;
    background: #FFFFFF;
    box-shadow: 5px 3px 33px #E0E0E0;
    .title {
        position: relative;
        font-weight: 500;
        font-size: 21px;
        line-height: 128.19%;
        text-align: center;
        color: #242424;
        margin-bottom: 23px;
    }
    .title::before {
        content: '';
        display: block;
        width: 36px;
        height: 26px;
        position: absolute;
        top: 0px;
        left: -47px;
        background: url(../img/galka-green.svg) no-repeat center;
    }
    .desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #242424;
        margin-bottom: 32px;
    }
    span {
        display: block;
        max-width: 383px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    input {
        display: block;
        width: 100%;
        background: #ECECEC;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #515151;
        opacity: 0.5;
        padding: 0 35px;
        border: none;
        border: 1px solid transparent;
        height: 53px;
        margin-bottom: 0;
        border-radius: 26.5px;
        -webkit-border-radius: 26.5px;
        -moz-border-radius: 26.5px;
        -ms-border-radius: 26.5px;
        -o-border-radius: 26.5px;
    }
    input:hover {
        border: 1px solid #FFBF33;
        background: #fff;
    }
    input:focus {
        border: 1px solid #FFBF33;
        background: #fff;
    }
    button {
        max-width: 383px;
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 16px 0 16px 0;
        background: linear-gradient(180deg, #FFC13C 0%, #FFB617 100%);
        border-radius: 31px;
        margin: 0 auto;
        margin-top: 27px;
        -webkit-border-radius: 31px;
        -moz-border-radius: 31px;
        -ms-border-radius: 31px;
        -o-border-radius: 31px;
    }
    .agree {
        font-weight: normal;
        font-size: 12px;
        line-height: 112.9%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #7A7A7A;
        margin-top: 16px;
    }
}

.info-bg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    background: #EAF3F8;
    max-width: 1657px;
    width: 100%;
    height: 1041px;
    transform: translateY(-48.5%);
    -webkit-transform: translateY(-48.5%);
    -moz-transform: translateY(-48.5%);
    -ms-transform: translateY(-48.5%);
    -o-transform: translateY(-48.5%);
}

.instrument-items {
    padding: 18px 0 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 72px;
}

.instrument {
    position: relative;
    margin-bottom: 242px;
    .title {
        margin-bottom: 75px;
    }
}

.devices-items {
    padding: 0 118px 0 77px;
    background: #FFFFFF;
    box-shadow: 5px 3px 33px #E0E0E0;
}

.devices-item {
    padding: 70px 0 55px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
}

.devices-item:last-child {
    border: none;
}

.devices-item__left {
    width: 37%;
    img {
        margin: 0 auto;
    }
}

.devices-item__right {
    width: 49%;
    .title {
        font-weight: 500;
        font-size: 21px;
        line-height: 126.69%;
        text-align: left;
        color: #242424;
        margin-bottom: 24px;
    }
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 133.69%;
        color: #242424;
        margin-bottom: 15px;
    }
    p:last-child {
        margin-bottom: 0;
    }
}

.instrument-bg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 63%;
    background: #EAF3F8;
    max-width: 1657px;
    width: 100%;
    height: 857px;
    transform: translateY(-48.5%);
    -webkit-transform: translateY(-48.5%);
    -moz-transform: translateY(-48.5%);
    -ms-transform: translateY(-48.5%);
    -o-transform: translateY(-48.5%);
}

.contacts {
    .title {
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 67px;
    }
}

.contacts-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-box__left {
    max-width: 503px;
    width: 100%;
    .map {
        width: 100%;
        height: 516px;
        background: #ccc;
    }
}

.contacts-box__right {
    width: 54.685%;
}

form.form-contacts {
    max-width: 607px;
    width: 100%;
    flex-shrink: 0;
    padding: 93px 108px 75px 108px;
    background: #FFFFFF;
    box-shadow: 5px 3px 21px #B7B7B7;
    .title {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #242424;
        margin-bottom: 8px;
    }
    .desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #242424;
        margin-bottom: 45px;
    }
    span {
        display: block;
        max-width: 383px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    input {
        display: block;
        width: 100%;
        background: #ECECEC;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #515151;
        opacity: 0.5;
        padding: 0 35px;
        border: none;
        border: 1px solid transparent;
        height: 53px;
        margin-bottom: 0;
        border-radius: 26.5px;
        -webkit-border-radius: 26.5px;
        -moz-border-radius: 26.5px;
        -ms-border-radius: 26.5px;
        -o-border-radius: 26.5px;
    }
    input:hover {
        border: 1px solid #FFBF33;
        background: #fff;
    }
    input:focus {
        border: 1px solid #FFBF33;
        background: #fff;
    }
    button {
        display: block;
        width: 100%;
        max-width: 383px;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 16px 0 16px 0;
        background: linear-gradient(180deg, #FFC13C 0%, #FFB617 100%);
        border-radius: 31px;
        margin: 0 auto;
        margin-top: 27px;
        -webkit-border-radius: 31px;
        -moz-border-radius: 31px;
        -ms-border-radius: 31px;
        -o-border-radius: 31px;
    }
    .agree {
        font-weight: normal;
        font-size: 12px;
        line-height: 112.9%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #7A7A7A;
        margin-top: 11px;
    }
}

.call-us {
    border-top: 1px solid #D1D1D1;
    width: 89.134%;
    margin: 0 auto;
    margin-top: 33px;
    text-align: center;
    padding: 22px 0 0 0;
    b {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #242424;
        margin-bottom: 22px;
    }
    a {
        font-weight: 900;
        font-size: 21px;
        line-height: 25px;
        color: #252525;
    }
}

.contacts {
    margin-bottom: 164px;
}

.footer {
    padding: 35px 0 58px 0;
    background: #EAF3F8;
    .container {
        padding-right: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    span {
        font-weight: normal;
        font-size: 14px;
        line-height: 156.8%;
        letter-spacing: 0.04em;
        color: #242424;
    }
}

.policy {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #242424;
}

.anchor {
    display: block;
    width: 55px;
    height: 55px;
    background-image: url(../img/arr-anchor.svg);
    background-repeat: no-repeat;
    background-position: center 17px;
    background-color: #C8D2D7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fade {
    transition: opacity .15s linear;
}

.fade:not(.show) {
    opacity: 0;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 0 auto;
        max-width: 655px;
    }
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 655px;
    position: relative;
    width: auto;
    height: 100vh;
    pointer-events: none;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 655px;
    width: 100%;
    pointer-events: auto;
    background-color: white;
    border: none;
    background-clip: padding-box;
    outline: 0;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: rgba(119, 119, 119, 0.93);
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -50px);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -ms-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
}

.modal.show .modal-dialog {
    transform: none;
}

.modal-close {
    position: absolute;
    width: 21px;
    height: 21px;
    background: url(../img/close.svg) no-repeat center;
    right: 31px;
    top: 31px;
    font-size: 25px;
    font-weight: normal;
    text-shadow: none;
    cursor: pointer;
    transition: all .3s;
    opacity: 1;
}

.modal-open {
    overflow: hidden;
    padding-right: 17px!important;
}

form.form-popup {
    width: 100%;
    flex-shrink: 0;
    padding: 157px 50px 160px 50px;
    background: #FFFFFF;
    .title {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #242424;
        margin-bottom: 8px;
    }
    .desc {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #242424;
        margin-bottom: 53px;
    }
    span {
        display: block;
        max-width: 383px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    input {
        display: block;
        width: 100%;
        background: #ECECEC;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #515151;
        opacity: 0.5;
        padding: 0 35px;
        border: none;
        border: 1px solid transparent;
        height: 53px;
        margin-bottom: 0;
        border-radius: 26.5px;
        -webkit-border-radius: 26.5px;
        -moz-border-radius: 26.5px;
        -ms-border-radius: 26.5px;
        -o-border-radius: 26.5px;
    }
    input:hover {
        border: 1px solid #FFBF33;
        background: #fff;
    }
    input:focus {
        border: 1px solid #FFBF33;
        background: #fff;
    }
    button {
        display: block;
        max-width: 383px;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 16px 0 16px 0;
        background: linear-gradient(180deg, #FFC13C 0%, #FFB617 100%);
        border-radius: 31px;
        margin: 0 auto;
        margin-top: 27px;
    }
    .agree {
        font-weight: normal;
        font-size: 12px;
        line-height: 112.9%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #7A7A7A;
        margin-top: 14px;
    }
}

.swiper-button-disabled {
    opacity: 0.5;
}

.sofa-text-mob {
    display: none;
}

@media screen and (max-width: 1880px) {
    html,
    body {
        overflow-x: hidden;
    }
    .top-wrap .dots {
        left: 25px;
    }
}

@media screen and (max-width: 1580px) {
    .top-wrap {
        padding-top: 60px;
    }
    .top-wrap .dots {
        display: none;
    }
    .man {
        height: 100%;
    }
    .sale {
        padding: 111px 0 0 0;
    }
    .price {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1300px) {
    .header {
        padding: 20px 0 0 0;
        margin-bottom: 30px;
    }
    .top-wrap {
        padding-top: 35px;
    }
    .top-wrap .title {
        font-size: 38px;
        line-height: 34px;
    }
    .sofa {
        top: 6px;
    }
}

@media screen and (max-width: 1199px) {
    .dots {
        display: none;
    }
    .sofa {
        max-width: 760px;
        width: 100%;
        height: 500px;
        right: 0;
        background: url(../img/sofa.png) no-repeat center;
        background-size: cover;
    }
    .cat {
        display: none;
    }
    .sofa-text {
        font-size: 13px;
    }
    .sofa-text-1 {
        top: 45px;
        left: 354px;
    }
    .sofa-text-2 {
        top: 172px;
        left: 27px;
    }
    .sofa-text-3 {
        top: 146px;
        left: 427px;
    }
    .sofa {
        top: 190px;
    }
    .why-item--img {
        width: 180px;
        height: 180px;
    }
    .why-item--title {
        font-size: 18px;
    }
    .why-item--desc {
        font-size: 14px;
    }
    .why-item {
        min-width: auto;
        max-width: auto;
        width: 22%;
    }
    .price-box-elem {
        padding: 82px 25px 60px 0;
    }
    .price-table-item span {
        font-size: 18px;
    }
    .price-table-item b {
        font-size: 18px;
    }
    .price-box-elem--content {
        width: 42%;
    }
    .man {
        display: none;
    }
    .form-sale {
        margin: 0 auto;
    }
    .sale {
        margin-bottom: 100px;
    }
    .step-item {
        padding: 0 25px 0 25px;
    }
    .step-item span {
        font-size: 28px;
        line-height: 36px;
    }
    .safe-box__left {
        width: 35%;
    }
    .safe-box__right {
        width: 57%;
    }
    .info-item__img {
        background-size: contain;
    }
    .info-item__content {
        width: 42%;
    }
    .info-form__left {
        max-width: 345px;
        width: 100%;
    }
    form.form-info .title br {
        display: none;
    }
    .instrument-items {
        justify-content: center;
        flex-wrap: wrap;
        img {
            margin: 0 25px;
            margin-bottom: 20px;
        }
    }
    .contacts-box__left {
        max-width: 445px;
        width: 100%;
    }
    form.form-contacts {
        padding: 93px 45px 75px 45px;
    }
    .swiper-button-next {
        background-image: url(../img/next-sl.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-size: 50%;
    }
    .swiper-button-prev {
        background-image: url(../img/prev-sl.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-size: 50%;
    }
    .swiper-button-next {
        right: 25px;
    }
    .swiper-button-prev {
        left: 25px;
    }
    .rewiews-bg .swiper-button-prev-rewiews {
        right: 75px;
        left: initial;
    }
    .rewiews-bg .swiper-button-next-rewiews {
        right: 10px;
    }
    .rewiews-bg .swiper-button-next-rewiews,
    .rewiews-bg .swiper-button-prev-rewiews {
        top: 8px;
    }
    .modal-open {
        overflow: hidden;
        padding-right: 0!important;
    }
}

@media screen and (max-width: 991px) {
    .swiper-container-works::before,
    .swiper-container-works::after {
        font-size: 14px;
        bottom: 20px;
        width: 75px;
        height: 35px;
    }
    .swiper-container-works::before {
        left: 20px;
    }
    .swiper-container-works::after {
        right: 20px;
    }
    .btn-yellow:active {
        background: linear-gradient(180deg, #FFB81F 0%, #F0A500 100%);
    }
    .anchor:active {
        background-color: #A0B4BF;
    }
    .header-contacts {
        width: 65%;
    }
    form.form-popup {
        padding: 65px 20px 60px 20px;
    }
    form.form-popup .desc {
        margin-bottom: 30px;
    }
    .sofa {
        position: relative;
        float: right;
        top: 0;
        right: 0;
        margin-top: 5px;
        max-width: 630px;
        width: 100%;
        height: 420px;
    }
    .sofa-text-1 {
        top: 30px;
        left: 290px;
    }
    .sofa-text-2 {
        top: 101px;
        left: -6px;
    }
    .sofa-text-3 {
        top: 118px;
        left: 383px;
    }
    .top-wrap .title,
    .title {
        font-size: 32px;
        line-height: 28px;
    }
    .top-wrap .title span,
    .title span {
        font-size: 34px;
    }
    .top-wrap .desc {
        margin-bottom: 20px;
    }
    .top-wrap {
        margin-bottom: 185px;
    }
    .why-items {
        flex-wrap: wrap;
    }
    .why-item {
        max-width: initial;
        width: 48%;
        margin-bottom: 25px;
    }
    .why-item--img {
        margin-bottom: 15px;
    }
    .why-item--title {
        margin-bottom: 8px;
    }
    .why-our {
        margin-bottom: 80px;
    }
    .swiper-container-works .swiper-slide {
        min-height: 365px;
    }
    .works-thumbs .swiper-slide {
        height: 107px;
    }
    .price-box-elem {
        padding: 50px 25px 50px 25px;
        background: none!important;
    }
    .price-box-elem:last-child {
        padding: 50px 25px 50px 25px;
        background: none!important;
    }
    .price-box-elem--content {
        width: 100%;
    }
    .price {
        margin-bottom: 0;
    }
    .slider-wrap {
        margin-bottom: 100px;
    }
    .sale {
        margin-bottom: 80px;
    }
    .message {
        max-width: 300px;
        width: 100%;
        font-size: 20px;
        padding: 35px 0 35px 0;
    }
    .message-2 {
        left: 64px;
        bottom: 262px;
    }
    .safe-box__left {
        display: none;
    }
    .safe-box__right {
        width: 100%;
    }
    .safe-partners {
        max-width: 100%;
    }
    .info-item__img {
        display: none;
    }
    .info-item__content,
    .info-item-reverse .info-item__content {
        padding: 50px 30px 45px 45px;
        width: 100%;
    }
    .arr-left,
    .arr-right {
        display: none;
    }
    .info-form__left {
        display: none;
    }
    .info-form {
        justify-content: center;
    }
    .info-bg {
        top: 46%;
    }
    .devices-items {
        padding: 0 50px 0 50px;
    }
    .devices-item__right .title {
        font-size: 18px;
    }
    .devices-item__right .title br {
        display: none;
    }
    .instrument {
        margin-bottom: 100px;
    }
    .contacts-box {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .contacts-box__left,
    .contacts-box__right {
        width: 100%;
    }
    form.form-contacts {
        padding: 45px 45px 35px 45px;
        margin: 0 auto;
    }
    .contacts .title {
        margin-bottom: 20px;
    }
    .contacts-box__left .map {
        height: 380px;
    }
    .contacts {
        margin-bottom: 50px;
    }
    .footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer {
        .logo {
            margin-bottom: 20px;
        }
    }
    .policy {
        margin-bottom: 20px;
    }
    .footer span {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
    .footer .container {
        padding-right: 15px;
    }
}

@media screen and (max-width: 945px) {
    .rewiews-bg {
        width: 100%;
    }
    .message {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .swiper-container-works::before,
    .swiper-container-works::after {
        font-size: 12px;
        bottom: 10px;
        width: 50px;
        height: 25px;
    }
    .swiper-container-works::before {
        left: 10px;
    }
    .swiper-container-works::after {
        right: 10px;
    }
    .container {
        width: 320px;
    }
    .header-contacts a.phone {
        display: none;
    }
    .title,
    .top-wrap .title {
        font-size: 26px;
        line-height: 28px;
    }
    .title br,
    .top-wrap .title br {
        display: none;
    }
    .title span,
    .top-wrap .title span {
        font-size: 28px;
        line-height: 28px;
    }
    .top-wrap .desc {
        font-size: 17px;
    }
    .header .btn-yellow {
        margin-left: 0;
        font-size: 15px;
    }
    .header-contacts {
        width: 50%;
    }
    .why-item {
        width: 100%;
    }
    .why-our .title {
        margin-bottom: 20px;
    }
    .slider-wrap .title {
        margin-bottom: 20px;
    }
    .swiper-container-works .swiper-slide {
        min-height: 170px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 30px;
        height: 30px;
    }
    .works-thumbs .swiper-slide {
        height: 42px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: 30%;
    }
    .swiper-button-prev {
        left: 10px;
    }
    .swiper-button-next {
        right: 10px;
    }
    .swiper-container-works {
        margin-bottom: 15px;
    }
    .price-bg {
        display: none;
    }
    .desc br {
        display: none;
    }
    .price .desc {
        font-size: 17px;
        line-height: 1.2;
    }
    .price-bnts {
        flex-direction: column;
        a {
            display: block;
            width: 100%;
        }
    }
    .price-table-item span {
        font-size: 14px;
    }
    .price-table-item b {
        font-size: 14px;
    }
    .price-table-item {
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
    .price-box-elem,
    .price-box-elem:last-child {
        padding: 30px 15px 30px 15px;
    }
    .price-table {
        margin-bottom: 25px;
    }
    .sale .title {
        line-height: 28px;
    }
    .sale .desc {
        font-size: 18px;
    }
    .sale-bg {
        display: none;
    }
    .sale form {
        padding: 25px 15px 30px 15px;
    }
    .sale form .agree {
        font-size: 11px;
    }
    .sale form .desc {
        margin-bottom: 25px;
    }
    .sale .desc {
        margin-bottom: 30px;
    }
    .sale {
        padding: 88px 0 0 0;
        margin-bottom: 0;
    }
    .step-item span {
        text-align: center;
    }
    .steps {
        margin-bottom: 80px;
    }
    .slider-reweiws-box {
        max-width: 290px;
        width: 100%;
        height: 434px;
    }
    .rewiews-bg {
        top: 0;
        height: 434px;
    }
    .slider-reweiws {
        max-width: 155px;
        width: 100%;
        height: 282px;
        position: absolute;
        top: 43px;
        right: 95px;
        background: #fff;
        z-index: -1;
    }
    .rewiews {
        padding-top: 35px;
        margin-bottom: 416px;
        background: #eaf3f8;
        margin-bottom: 60px;
    }
    .slider-reweiws .swiper-slide {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .rewiews-bg .swiper-button-next-rewiews,
    .rewiews-bg .swiper-button-prev-rewiews {
        top: 88%;
    }
    .safe .title {
        margin-bottom: 20px;
    }
    .safe-box .title {
        font-size: 18px;
        line-height: 1.2;
    }
    .safe .title br {
        display: none;
    }
    .safe-box {
        padding: 30px 45px 30px 45px;
    }
    .safe-partners {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            margin-bottom: 20px;
        }
        img:Llast-child {
            margin-bottom: 0;
        }
    }
    .safe {
        margin-bottom: 80px;
    }
    .info .title {
        margin-bottom: 20px;
    }
    .info-item-reverse .info-item__content,
    .info-item__content {
        padding: 35px 45px 30px 45px;
        width: 100%;
    }
    .info-item__content .title {
        font-size: 18px;
        line-height: 1.2;
    }
    .info-item__content p {
        font-size: 14px;
        line-height: 1.2;
    }
    .info-bg {
        display: none;
    }
    form.form-info {
        padding: 35px 15px 30px 15px;
    }
    form.form-info .title::before {
        content: none;
    }
    form.form-info .agree {
        font-size: 11px;
    }
    form.form-info .title {
        font-size: 18px;
        line-height: 1.2;
    }
    form.form-info .desc {
        font-size: 15px;
    }
    .info {
        margin-bottom: 80px;
    }
    .instrument .title {
        margin-bottom: 20px;
    }
    .instrument .title {
        font-size: 24px;
    }
    .instrument .title span {
        font-size: 25px;
    }
    .devices-items {
        padding: 0 15px 0 15px;
    }
    .devices-item {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .devices-item__left,
    .devices-item__right {
        width: 100%;
    }
    .devices-item__right {
        margin-bottom: 20px;
    }
    .instrument .title {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 12px;
    }
    .devices-item {
        padding: 25px 0 25px 0;
    }
    .devices-item__right p {
        font-size: 14px;
    }
    .instrument-bg {
        display: none;
    }
    .contacts .title {
        font-size: 26px;
    }
    form.form-contacts {
        padding: 25px 15px 25px 15px;
    }
    form.form-contacts .title {
        font-size: 24px;
        line-height: 1.2;
    }
    form.form-contacts .desc {
        font-size: 15px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    form.form-contacts .agree {
        font-size: 11px;
    }
}

@media screen and (max-width: 650px) {
    .modal-content {
        margin: 0 15px;
    }
    form.form-popup .title {
        font-size: 24px;
        line-height: 1.2;
    }
    form.form-popup .desc {
        font-size: 15px;
        margin-bottom: 20px;
    }
    form.form-popup .agree {
        font-size: 11px;
    }
    form.form-popup {
        padding: 45px 15px 30px 15px;
    }
    .modal-close {
        top: 15px;
        right: 15px;
    }
    .sofa {
        max-width: 320px;
        width: 100%;
        height: 260px;
    }
    .sofa-text-mob {
        display: block;
        margin: 25px 0 0 0;
        padding: 0 15px;
    }
    .sofa-text {
        display: none;
    }
    .sofa-text-mob__item {
        width: fit-content;
        font-size: 16px;
        text-align: left;
        padding: 0 0 0 30px;
        background: url(../img/galka.svg) no-repeat left center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .sofa-text-mob__item:last-child {
        margin-bottom: 0;
    }
    .top-wrap .btn-yellow {
        max-width: 100%;
    }
    .sofa {
        margin-top: 0;
    }
}